{% extends 'myapp/base.html' %}
{% block content %}




<div class="box-content rounded-lg h-180 w-60 p-4 border-4 mt-14 ml-28">
<h1 class="text-2xl font-bold mb-10 text-green-500" >➕ Create Profile</h1>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-6">
        <label for="">Contact Number</label>
        <input type="text" name="contact_number" id="contact_number" placeholder="contact number">
    </div>
    <div class="mb-6">
        <label for="">Image</label>
        <input type="file" name="upload" id="upload">
    </div>
    <div >
    <input class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-full text-sm px-12 py-2.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800" type="submit" accept="image/*" name="Add Product" value="Add Product">
    </div>


</form>
</div>

  


{% endblock %}