{% extends 'myapp/base.html' %}

{% block content %}


  <div class="grid grid-flow-row-dense grid-cols-2 grid-rows-3 gap-10 p-10">

    {% for p in products %}
    <div class="card w-96 glass m-10.5">
      {% if p.image %}
        <figure><img class="object-cover h-60 w-90" src="{{p.image.url}}" alt="not found!"/></figure>
      {% else %}
        <figure><img class="object-cover h-60 w-90" src="" alt="not found!"/></figure>
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{p.name}}</h2>
        <p>{{p.description}}</p>
        <div class="card-actions justify-end">
          <a href="{% url 'product_details' p.id %}">
          <button class="btn btn-primary">₹{{p.price}}</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
   

  {% endblock %}

